<!-- basic, makes a basic html page-->
<!-- handlebars by default has a thing called layout-->

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<!-- code for this in index.js res.render ('index', {src: "/images/chin.jpg"});-->
<img src="{{src}}">

